<a href="https://colab.research.google.com/github/flikrama/UH-SPE-ML-Bootcamp-Team4-Project1/blob/master/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Importing Necessary packages

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy import NaN as NA

In [ ]:
# Interactive Plotting
%matplotlib notebook

In [ ]:
from sklearn.preprocessing import  preprocessing
import sklearn.linear_model as lm

ImportError: ignored

In [ ]:
np.random.seed(1)

In [ ]:
from sklearn.feature_selection import rfe

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.feature_selection.rfe module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection.rfe. Anything that cannot be imported from sklearn.feature_selection.rfe is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
#For imputing Missing values
from sklearn.impute import  SimpleImputer

###Loading and joining the datasets

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving 2015.csv to 2015.csv
Saving 2016.csv to 2016.csv
Saving 2017.csv to 2017.csv
Saving 2018.csv to 2018.csv
Saving 2019.csv to 2019.csv

In [ ]:
df2015= pd.read_csv('2015.csv')
df2016= pd.read_csv('2016.csv')
df2017= pd.read_csv('2017.csv')
df2018= pd.read_csv('2018.csv')
df2019= pd.read_csv('2019.csv')

In [ ]:
df2015.shape

(158, 12)

In [ ]:
df2016.shape

(157, 13)

In [ ]:
df2017.shape

(155, 12)

In [ ]:
df2018.shape

(156, 9)

In [ ]:
df2019.shape

(156, 9)

In [ ]:
df2015.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

In [ ]:
df2016.head()

       Country          Region  ...  Generosity  Dystopia Residual
0      Denmark  Western Europe  ...     0.36171            2.73939
1  Switzerland  Western Europe  ...     0.28083            2.69463
2      Iceland  Western Europe  ...     0.47678            2.83137
3       Norway  Western Europe  ...     0.37895            2.66465
4      Finland  Western Europe  ...     0.25492            2.82596

[5 rows x 13 columns]

In [ ]:
df2017.head()

       Country  ...  Dystopia.Residual
0       Norway  ...           2.277027
1      Denmark  ...           2.313707
2      Iceland  ...           2.322715
3  Switzerland  ...           2.276716
4      Finland  ...           2.430182

[5 rows x 12 columns]

In [ ]:
df2018.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.202                      0.393
1             2            Norway  ...       0.286                      0.340
2             3           Denmark  ...       0.284                      0.408
3             4           Iceland  ...       0.353                      0.138
4             5       Switzerland  ...       0.256                      0.357

[5 rows x 9 columns]

In [ ]:
df2019.head()

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410
2             3            Norway  ...       0.271                      0.341
3             4           Iceland  ...       0.354                      0.118
4             5       Netherlands  ...       0.322                      0.298

[5 rows x 9 columns]