In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
%matplotlib notebook

In [4]:
df15 = pd.read_csv('2015.csv')
df16 = pd.read_csv('2016.csv')
df17 = pd.read_csv('2017.csv')
df18 = pd.read_csv('2018.csv')
df19 = pd.read_csv('2019.csv')

In [ ]:
df15.head()

In [ ]:
df16.head()

In [ ]:
df16

In [ ]:
df17.head()

In [ ]:
df17

In [ ]:
df18.head()

In [ ]:
df19.head()

In [ ]:
df19.keys()

In [ ]:
df19.isnull()

In [ ]:
df19.isnull().any()

In [ ]:
df18.isnull().sum()

In [ ]:
df17.isnull().sum()

In [ ]:
df16.isnull().sum()

In [ ]:
df15.isnull().sum()

In [ ]:
df18.keys()

In [5]:
df18['Perceptions of corruption'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
151    False
152    False
153    False
154    False
155    False
Name: Perceptions of corruption, Length: 156, dtype: bool

In [6]:
df18.loc[df18['Perceptions of corruption'].isnull() == True]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

In [ ]:
df19.keys()

In [ ]:
df18.keys()

In [ ]:
df17.keys()

In [ ]:
df16.keys()

In [ ]:
df15.keys()

In [7]:
df15_dropped = df15.drop(['Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'], axis = 1)

In [8]:
dict = df15_dropped.set_index('Country').to_dict()

In [9]:
dict.keys()

dict_keys(['Region'])

In [10]:
dict = dict['Region']

In [ ]:
dict['Iceland']

In [11]:
df19.keys()

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [12]:
df19r = df19.rename(columns = {'Overall rank':'Rank','Country or region': 'Country', 'GDP per capita': 'GDP', 
                               'Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Corruption'  })

In [13]:
df19r.head()

,Rank,Country,Score,GDP,Social support,Healthy life expectancy,Freedom,Generosity,Corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [14]:
df18.keys()

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [15]:
df18r = df18.rename(columns = {'Overall rank': 'Rank', 'Country or region': 'Country', 'GDP per capita': 'GDP', 
                               'Freedom to make life choices':'Freedom', 'Perceptions of corruption':'Corruption'})

In [16]:
df18r.head()

,Rank,Country,Score,GDP,Social support,Healthy life expectancy,Freedom,Generosity,Corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [17]:
df17.keys()

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [18]:
df17r = df17.rename(columns = {'Happiness.Rank': 'Rank',  'GDP per capita': 'GDP', 'Happiness.Score':'Score', 
                               'Whisker.high':'High','Whisker.low':'Low', 'Economy..GDP.per.Capita.':'GDP', 
                               'Health..Life.Expectancy.':'Healthy life expectancy',
                               'Trust..Government.Corruption.':'Corruption'})

In [19]:
df17r.head()

,Country,Rank,Score,High,Low,GDP,Family,Healthy life expectancy,Freedom,Generosity,Corruption,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [20]:
df16.keys()

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [36]:
df16r = df16.rename(columns = {'Happiness Rank': 'Rank', 'GDP per capita': 'GDP', 'Happiness Score':'Score', 
                               'Upper Confidence Interval':'High','Lower Confidence Interval':'Low', 'Economy (GDP per Capita)':'GDP', 
                               'Health (Life Expectancy)':'Healthy life expectancy',
                               'Trust (Government Corruption)':'Corruption', 'Dystopia Residual':'Dystopia.Residual'})

In [37]:
df16r.head()

,Country,Region,Rank,Score,Low,High,GDP,Family,Healthy life expectancy,Freedom,Corruption,Generosity,Dystopia.Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [ ]:
df15.keys()

In [21]:
df15r = df15.rename(columns = {'Happiness Rank': 'Rank', 'Economy (GDP per Capita)': 'GDP', 'Happiness Score':'Score', 
                               'Economy (GDP per Capita)':'GDP', 
                               'Health (Life Expectancy)':'Healthy life expectancy',
                               'Trust (Government Corruption)':'Corruption', 'Dystopia Residual':'Dystopia.Residual'})

In [22]:
df15r

,Country,Region,Rank,Score,Standard Error,GDP,Family,Healthy life expectancy,Freedom,Corruption,Generosity,Dystopia.Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [ ]:
df15r.keys()

In [ ]:
df16r.keys()

In [ ]:
df17r.keys()

In [ ]:
df18r.keys()

In [ ]:
df19r.keys()

In [23]:
df19r['Region'] = df19r['Country'].apply(lambda x: dict.get(x))

In [ ]:
df19r

In [ ]:
df18r.keys()

In [24]:
df18r['Region'] = df18r['Country'].apply(lambda x: dict.get(x))

In [ ]:
df18r

In [ ]:
df17r.keys()

In [25]:
df17r['Region'] = df17r['Country'].apply(lambda x: dict.get(x))

In [ ]:
df17r.keys()

In [34]:
df16r.keys()

NameError: name 'df16r' is not defined

In [29]:
df17r['Standard Error'] = (df17r['Score'] - df17r['Low'])/(1.96)

In [39]:
df19.to_csv('2018.csv')

In [40]:
df19r.to_csv('2019r.csv')

In [44]:
df19r['Year'] = pd.Series('2019' for x in range(len(df19r.index)))

df19r.head()